header {
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__head {
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: 600;
}

.header__head a {
  color: cornsilk;
}

/* Responisve */

@media screen and (max-width: 768px) {
  header {
    background-color: cornsilk;
  }
  .header__head a {
    color: #898989;
  }
}

@media screen and (max-width: 450px) {
  .header__head {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 315px) {
  .header__head {
    font-size: 0.6rem;
  }
}
