.explore {
  margin: 0 auto;
  padding: 1rem;
}
.explore > h2 {
  margin: 0 0 0 1.2rem;
  font-size: 2rem;
  font-weight: 700;
}
.explore__content {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 2rem;
  margin-top: 0.4rem;
}

/* Responsive */

@media screen and (max-width: 768px) {
  .explore__content {
    display: flex;
    align-items: center;
    max-width: 1300px;
    overflow-x: auto;
  }
  .explore__content::-webkit-scrollbar {
    width: 0;
  }
}

@media screen and (max-width: 329px) {
  .explore > h2 {
    font-size: 1.5rem;
  }
}
